/* Configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

:root {
    --theme-color: #f96364;
    --theme-color-gradient: #d63031;
    --second-color: #dfe6e9;
    --third-color: #060613;
    --font-color: #222222;
}

body {
    font-size: 17px;
    scroll-behavior: smooth;
}

main {
    display: flex;
    height: calc(100vh - 70px);
    min-height: 675px;
}

/* Aside section */
#left-container {
    background: var(--theme-color);
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-container .sign-up-link {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#left-container .sign-up-link a img {
    width: 100px;
    height: 100px;
}

#left-container .sign-up-link p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--font-color);
}

#left-container .sign-up-link .btn-sign-up,
#success-regi .btn-sign-up {
    width: 150px;
    height: 50px;
    line-height: 50px;
}

#left-container .sign-up-link .btn-sign-up a,
#success-regi .btn-sign-up a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 55px;
    letter-spacing: 1px;
    background: black;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: 200ms;
    outline: none;
}

#left-container .sign-up-link .btn-sign-up a:hover,
#success-regi .btn-sign-up a:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, .2);
}

@keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

/* Main section */
h2 {
    font-size: 3.2rem;
    margin-bottom: 30px;
    color: var(--third-color);
    text-align: center;
}

#right-container {
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#right-container .wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

#right-container h4 {
    margin-top: 50px;
    text-align: center;
}

#right-container .wrapper #img-container {
    margin-right: 50px;
    width: 300px;
    height: 100%;
    order: 1;
}

#right-container .wrapper #img-up {
    margin-left: 50px;
    width: 300px;
    height: 100%;
    order: 2;
}

#right-container .wrapper #img-container svg,
#right-container .wrapper #img-up svg {
    width: 100%;
    height: 100%;
}

/* Wrapper sign-in */
#right-container .wrapper .sign-in {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right-container .wrapper .sign-in h2 {
    text-transform: uppercase;
    font-size: 4rem;
}

#right-container .wrapper .sign-in h2 span.line {
    position: relative;
}

#right-container .wrapper .sign-in h2 span.line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 0;
    top: 50%;
    background: linear-gradient(90deg, var(--theme-color-gradient), var(--theme-color));
}

span.gradient {
    background: -webkit-linear-gradient(90deg, var(--theme-color-gradient), var(--theme-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Form */
.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="submit"] {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 55px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg, var(--theme-color-gradient), var(--theme-color));
    position: relative;
    transition: 200ms;
}

input[type="submit"]:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, .2);
}

.input-field {
    width: 400px;
    background-color: #f0f0f0;
    height: 60px;
    border-radius: 55px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-field i {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--third-color);
    height: 100%;
}

.input-field input[type="text"],
.input-field input[type="password"] {
    border: 0;
    outline: none;
    flex-basis: 60%;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    color: var(--third-color);
}

.box-info {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--third-color);
    height: 100%;
    position: relative;
}

i.fa-eye {
    cursor: pointer;
    position: absolute;
    display: none;
    color: var(--third-color);
}

i.fa-eye-slash {
    cursor: pointer;
    position: absolute;
    color: var(--third-color);
}

i.error {
    background: var(--theme-color-gradient);
    height: 20px;
    width: 20px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    z-index: 3;
}

i.error:hover+.info-error {
    transition: all 3s linear;
}

.info-error {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(-10%, -50%);
    right: 0;
    background: var(--third-color);
    color: #fff;
    height: 40px;
    line-height: 40px;
    width: calc(95% - 40px);
    z-index: 2;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    font-size: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--third-color) !important;
}

#success-regi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 30px;
}

#success-regi h1 {
    margin: 0 0 30px 0;
    font-size: 3.5rem;
    text-align: center;
}

/* Nav */
nav#main-nav {
    width: 100%;
    border-top: 4px solid var(--theme-color-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 5;
    transition: 500ms;
    -webkit-box-shadow: 0px 2px 50px -25px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 50px -25px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 50px -25px rgba(0, 0, 0, 0.2);
}

nav#main-nav.hide {
    top: -100%;
}

nav .nav-up {
    width: 100%;
    padding: 10px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

nav .nav-up .info {
    flex-basis: 300px;
    align-self: center;
    height: auto;
    align-self: center;
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
}

nav .nav-up .info a .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
}

nav .nav-up .info a .info-wrapper:hover {
    background: var(--theme-color-gradient);
}

nav .nav-up .info .info-wrapper span {
    font-size: 17px;
    margin-top: 3px;
}

nav .nav-up .logo {
    flex-basis: auto;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav .nav-up .logo span {
    font-size: 22px;
}

nav .nav-up a {
    color: var(--third-color);
    text-decoration: none;
}

nav .nav-up .logo img {
    height: 62.5px;
}

nav .nav-up .login {
    flex-basis: 300px;
    height: auto;
    align-self: center;
    font-size: 22px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

nav .nav-up .login .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
}

nav .nav-up .login .login-wrapper:hover {
    background: var(--theme-color-gradient);
}

nav .nav-up .login .login-wrapper span {
    font-size: 17px;
    margin-top: 3px;
}

nav .nav-up .login .login-info {
    position: absolute;
    width: 300px;
    top: 100%;
    right: 0;
    background: #000;
    display: none;
    animation: changeWidth 250ms cubic-bezier(0.19, 1, 0.22, 1) 1;
    color: #fff;
    font-size: 17px;
    padding: 30px;
    overflow: hidden;
}

nav .nav-up .login .login-info .text-info {
    animation: showText 200ms linear;
}

nav .nav-up .login .login-info .text-info a {
    color: var(--theme-color);
}

@keyframes showText {
    0% {
        visibility: hidden;
    }

    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes changeWidth {
    0% {
        height: 0px;
        width: 0px;
    }

    50% {
        width: 100%;
    }

    100% {
        height: auto;
    }
}

nav .nav-up .login .login-info:hover+.login-wrapper {
    background: var(--theme-color-gradient);
}

nav .nav-down {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

nav .nav-down .wrapper a {
    text-decoration: none;
    color: var(--third-color);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 19px;
}

nav .nav-down .wrapper a:hover {
    font-weight: bold;
    border-bottom: 3px solid var(--theme-color-gradient);
}

#video {
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

#video #videoBG {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#video .bg-video {
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#quotation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#quotation h2 span {
    font-size: 2rem;
    color: var(--theme-color-gradient);
}

#quotation img {
    height: 150px;
    opacity: 0.9;
}

#quotation h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    position: relative;
}

/* Section with quote for welcome */
section#home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#home .wrapper {
    padding: 100px 50px;
    text-align: center;
}

section#home .wrapper img {
    height: 70px;
}

section#home .wrapper h3 {
    margin-top: 30px;
    font-size: 2rem;
}

section#home .wrapper h3 span.author {
    color: var(--theme-color-gradient);
}

/* Section with last add quotes */
section#main-quote {
    width: 100%;
    display: flex;
}

section#main-quote .left-wrapper {
    flex-basis: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 50px 50px 0;
}

section#main-quote .left-wrapper .box {
    flex-basis: 70%;
}

section#main-quote .left-wrapper .box img {
    height: 35px;
}

section#main-quote .left-wrapper .box .quote-box {
    margin: 50px 0 0 0;
    font-size: 20px;
    position: relative;
}

section#main-quote .left-wrapper .box .quote-box::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0px;
    height: 3px;
    background: var(--theme-color);
    transition: 250ms;
}

section#main-quote .left-wrapper .box .quote-box p span a {
    text-decoration: none;
    color: var(--third-color);
}

section#main-quote .left-wrapper .box .quote-box p span a:hover {
    text-decoration: underline;
}

section#main-quote .left-wrapper .box .quote-box:hover::before {
    width: 100%;
}

section#main-quote .left-wrapper .box h3,
section#main-quote .right-wrapper .box h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

section#main-quote .right-wrapper {
    flex-basis: 40%;
    display: flex;
    height: auto;
    background: var(--theme-color);
    padding: 50px 0 50px 50px;
}

section#main-quote .right-wrapper .box {
    flex-basis: 50%;
}

section#authors {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

section#authors .wrapper {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

section#authors .wrapper .box {
    flex-basis: 24.8%;
    height: 100%;
    background: var(--second-color);
}

section#quote-img {
    width: 100%;
    height: 700px;
    display: flex;
}

section#quote-img .quote-box {
    flex-basis: 25%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

section#quote-img .quote-box .background {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

section#quote-img .quote-box .background .text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#quote-img .quote-box:first-child .background .text {
    flex-basis: 50%;
}

section#quote-img .quote-box .background .text h3 {
    color: var(--third-color);
    font-size: 2rem;
}

section#quote-img .quote-box .background .text .category {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section#quote-img .quote-box .background .text .category h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 5px;
}

section#quote-img .quote-box .background .text h3 a {
    color: var(--third-color);
    text-decoration: none;
}

section#quote-img .quote-box .background .text h3 a:hover {
    text-decoration: underline;
}

section#quote-img .quote-box:hover .background {
    right: 0;
}

section#quote-img .quote-box:hover img {
    transform: scale(1.1);
}

section#quote-img .quote-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

section#quote-img .quote-box:first-child {
    flex-basis: 50%;
}

/* Add quote */
section#addquote {
    display: flex;
    display: flex;
    margin: 0 0 100px 0;
}

section#addquote .left-wrapper {
    flex-basis: 40%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 50px 50px 50px 0;
    background: var(--theme-color);
}

section#addquote .left-wrapper .box {
    flex-basis: 50%;
}

section#addquote .left-wrapper h3,
section#addquote .right-wrapper h3 {
    font-size: 2.5rem;
    color: var(--third-color);
}

section#addquote .right-wrapper h3 img {
    height: 40px;
    margin-left: 10px;
}

section#addquote .right-wrapper {
    flex-basis: 60%;
    height: 300px;
    display: flex;
    padding: 50px 0 50px 50px;
}


/* Scroll up */
.scroll-up {
    width: 40px;
    height: 40px;
    background: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 40px;
    opacity: 0.7;
    transition: 250ms;
    display: none;
    z-index: 2;
}

.scroll-up:hover {
    opacity: 0.95;
}

.scroll-up a {
    text-decoration: none;
    color: #fff;
    flex-basis: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Footer for sign-in and sign-up */
footer {
    width: 100%;
    height: 70px;
    background: var(--third-color);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
}

footer p {
    color: #fff;
}

footer p:first-child {
    margin-right: 5px;
}

footer p a {
    text-decoration: none;
    color: #fff;
}

footer p a:hover {
    text-decoration: underline;
}

/* Footer for whole page */
#home-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 0;
    height: auto;
    border-bottom: 4px solid var(--theme-color-gradient);
}

#home-footer .wrapper {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

#home-footer .wrapper .up {
    width: 100%;
    height: 300px;
    display: flex;
    padding: 50px 0 0 0;
}

#home-footer .wrapper .up .box {
    flex-basis: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-footer .wrapper .up .box a {
    text-decoration: none;
    color: var(--third-color);
}

#home-footer .wrapper .up .box a:hover {
    text-decoration: underline;
}

#home-footer .wrapper .up .box a .logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

#home-footer .wrapper .up .box a .logo img {
    height: 125px;
    margin-bottom: 10px;
}

#home-footer .wrapper .down {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home-footer .wrapper .down p {
    color: var(--third-color);
    font-size: 17px;
}

#home-footer .wrapper .down p a {
    color: var(--third-color);
}

/* Animation SVG */
#phone,
#key,
#phone-check,
#check {
    animation: up-down 2s linear infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Media Queries */
@media (min-aspect-radio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-radio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 1366px) {
    #left-container {
        flex-basis: 30%;
    }

    #right-container {
        flex-basis: 70%;
    }

    .input-field {
        width: 350px;
    }
}

@media (max-width: 1150px) {
    main {
        flex-direction: column-reverse;
        height: auto;
    }

    #right-container {
        padding: 50px 0px;
        min-height: calc(70vh);
    }

    #left-container {
        padding: 50px;
    }

    #right-container .wrapper #img-container {
        width: 275px;
        margin-right: 40px;
    }

    #right-container .wrapper #img-up {
        width: 275px;
        margin-left: 40px;
        height: 513px;
    }
}

@media (max-width: 768px) {
    main {
        height: auto;
        min-height: auto;
    }

    #right-container {
        padding: 50px 30px;
        min-height: auto;
    }

    #right-container .wrapper {
        flex-direction: column-reverse;
        width: 100%;
    }

    #right-container .wrapper #img-container,
    #right-container .wrapper #img-up {
        margin: 50px 0 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #right-container .wrapper #img-up {
        order: 1;
    }

    #right-container .wrapper #img-container svg,
    #right-container .wrapper #img-up svg {
        width: 65%;
        height: 65%;
    }

    #left-container {
        padding: 50px;
    }

    #left-container .sign-up-link {
        flex-basis: 100%;
    }

    .input-field {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .input-field {
        width: 100%;
    }

    #right-container .wrapper #img-container,
    #right-container .wrapper #img-up {
        width: 100%;
        margin: 40px 0 0 0;
    }

    #right-container .wrapper .sign-in-form {
        width: calc(100% - 45px);
    }

    #left-container {
        padding: 50px 45px;
    }

    #right-container {
        padding: 50px 0;
    }

    #right-container h4 {
        padding: 0 50px;
    }

    #right-container .wrapper #img-container svg,
    #right-container .wrapper #img-up svg {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 400px) {

    #right-container .wrapper .sign-in-form {
        width: calc(100% - 40px);
    }

    #left-container {
        padding: 50px 40px;
    }

    #right-container h4 {
        padding: 0 40px;
    }
}

@media (max-width: 360px) {

    #right-container .wrapper .sign-in-form {
        width: calc(100% - 30px);
    }

    #left-container {
        padding: 50px 30px;
    }

    #right-container h4 {
        padding: 0 30px;
    }
}

@media (max-width: 350px) {

    #right-container .wrapper .sign-in-form {
        width: calc(100% - 20px);
    }

    #left-container {
        padding: 50px 20px;
    }

    #right-container h4 {
        padding: 0 20px;
    }
}